# Combinando Datasets: Concat e Append

Alguns dos estudos mais interessantes de dados vêm da combinação de diferentes fontes de dados. Essas operações podem envolver qualquer coisa, desde concatenação muito direta de dois conjuntos de dados diferentes, até junções e mesclagens mais complicadas no estilo de banco de dados que lidam corretamente com qualquer sobreposição entre os conjuntos de dados. As `Series` e os `DataFrames` são criados com esse tipo de operação em mente, e o Pandas inclui funções e métodos que tornam esse tipo de dados rápida e direta.

In [1]:
import pandas as pd
import numpy as np

Por conveniência, definiremos essa função que cria um DataFrame de um formulário específico que será útil abaixo:

In [2]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

# example DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

Além disso, criaremos uma classe rápida que nos permitirá exibir vários `DataFrames` lado a lado. O código utiliza o método `_repr_html_` especial, usado pelo IPython para implementar sua exibição de objeto avançado:

In [3]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

## Concatenação com Numpy Arrays

A concatenação dos objetos `Series` e `DataFrame` é muito semelhante à concatenação de matrizes `Numpy`, que pode ser feita através da função `np.concatenate`. O resultado é uma única matriz.

In [4]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])